{% extends 'bootstrap/base.html' %}

{% block scripts %}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Initialize Bootstrap functionality -->
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
});
</script>
{% endblock %}

{% block title %}
    runfaster
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <a href="#"><code>Runfaster</code></a>
    <nav class="navbar navbar-default">
        <ul class="navbar-nav">
            <li class="nav-item"><h3><code>Runfaster</code></h3> </li>
            a GCP URL Shortener
        <!-- Place this tag where you want the button to render. -->
        <!-- Place this tag where you want the button to render. -->
            <li class="nav-item">
<a class="github-button" href="https://github.com/MihanixA/runfaster" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star MihanixA/runfaster on GitHub">Star</a>
            </li>
        </ul>
    </nav>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
